@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Counter1 :@ViewData["c1"].ToString()</h3>
<h3>Counter2 :@ViewData["c2"].ToString()</h3>

