@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Sum:@ViewData["result"].ToString()</h3>

<h3>Demo Id1:@ViewData["demoId1"].ToString()</h3>
<h3>Demo Id2:@ViewData["demoId2"].ToString()</h3>